<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" id="viewport">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">	
	<link rel="stylesheet" type="text/css" href="static/css/site.css">
</head>
<body>
<div class="wrapper">
	<header></header>
	<div class="main-content">
		<div class="m-container">
			<div class="m-nav-box">
				<ul class="nav nav-tabs">
				{volist name="cat_list" id="cat" offset="0" length="4"}
				<li {eq name="key" value="0"}class="cur"{/eq}><a id="cat{$cat.id}" href="javascript:;">{$cat.name}</a></li>
				{/volist}
					<li><a href="javascript:;">更多<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>				
				</ul>
				<ul class="nav more-nav-tabs">
				{volist name="cat_list" id="cat" offset="5"}
				<li><a id="cat{$cat.id}" href="javascript:;">{$cat.name}</a></li>
				{/volist}										
				</ul>
			</div>
			<div class="card">
				<div class="card-list">
					{volist name="wx_list" id="wx"}						
					<div class="card-panel m-avatar-box">
						<div class="card-panel-wrap">
							<div class="m-box">
								<div class="m-img-box"> <img src="{$wx.avatar??''}"> </div>
								<div class="m-box-center m-box-col"> <div class="m-text-box"> <h3 class="m-text-cut">{$wx.name??''}</h3> 
								<h4 class="m-text-cut"><label>微信号：</label><span>{$wx.wx_id??''}</span></h4>
								<h4 class="m-text-cut"><label>功能介绍：</label><span>{$wx.profile??''}</span></h4></div></div>	
								<div class="m-box-right"></div>											
							</div>
						</div>
					</div>
					{/volist}					
				</div>
			</div>
		</div>
	</div>
	<footer></footer>
</div>
</body>
</html>